{% extends 'base.html.twig' %}

{% block title %}Joueur{% endblock %}

{% block body %}
    <h1>Joueur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ joueur.id }}</td>
            </tr>
            <tr>
                <th>NbMax</th>
                <td>{{ joueur.nbMax }}</td>
            </tr>
            <tr>
                <th>Poste</th>
                <td>{{ joueur.poste }}</td>
            </tr>
            <tr>
                <th>Cout</th>
                <td>{{ joueur.cout }}</td>
            </tr>
            <tr>
                <th>CompMvmt</th>
                <td>{{ joueur.compMvmt }}</td>
            </tr>
            <tr>
                <th>CompForce</th>
                <td>{{ joueur.compForce }}</td>
            </tr>
            <tr>
                <th>CompAgilite</th>
                <td>{{ joueur.compAgilite }}</td>
            </tr>
            <tr>
                <th>CompPasse</th>
                <td>{{ joueur.compPasse }}</td>
            </tr>
            <tr>
                <th>CompArmure</th>
                <td>{{ joueur.compArmure }}</td>
            </tr>
            <tr>
                <th>Principale</th>
                <td>{{ joueur.principale }}</td>
            </tr>
            <tr>
                <th>Secondaire</th>
                <td>{{ joueur.secondaire }}</td>
            </tr>
            <tr>
                <th>Comp</th>
                <td>{{ joueur.comp }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_joueur_index') }}">back to list</a>

    <a href="{{ path('app_joueur_edit', {'id': joueur.id}) }}">edit</a>

    {{ include('joueur/_delete_form.html.twig') }}
{% endblock %}
