{% extends 'base.html.twig' %}

{% block title %}Championship{% endblock %}

{% block body %}
    <h1>Championship</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ championship.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ championship.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_championship_index') }}">back to list</a>

    <a href="{{ path('app_championship_edit', {'id': championship.id}) }}">edit</a>

    {{ include('championship/_delete_form.html.twig') }}
{% endblock %}
