<div class="navbar" id="navbar">

    <div class="menu-icon" id="menu-icon">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="logo" id="logo">
        <a href="{{ path('app_home') }}">
            <img src="{{ asset('images/logo.png') }}">
        </a>
    </div>

    <div class="links" id="links">
        {% if app.user %}
            <a href="{{ path('race') }}" class="navbar_links">Mes équipes</a>
            <a href="{{ path('liste') }}" class="navbar_links">Créer une équipe</a>
            <a href="{{ path('championnat') }}" class="navbar_links" target="_blank">Créer un championnat</a>
            <a href="{{ path('app_logout') }}"  class="navbar_links">Déconnexion</a>
        {% else %}
            <a class="navbar_links" href="#">Inscription</a>
            <a href="{{ path('app_login') }}" class="navbar_links"> Connexion </a>
        {% endif %}
    </div>
</div>