{% extends 'base.html.twig' %}

{% block title %}Toutes les équipes{% endblock %}

{% block body %}
    <h1>Mes équipes</h1>

    {% for race in races %}
        <div class="liste_equipe">
                <img src="{{ asset('images/' ~ race.slug ~ '.png') }}" alt="{{ race.slug }}">
            <h2>{{ race.nom }}</h2>

            <ul class="team_link">
                {% for equipe in race.equipes %}
                    <li class="championnat">
                        <a class="team_link" href="{{ path('app_equipe_show', {id: equipe.id}) }}">
                            {{ equipe.nom }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock %}
